.header {
    justify-content: space-around;
}

.currency {
    display: flex;
    margin: 0 auto;
    width: 930px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 930px;
}

.plans__slider {
    justify-content: center;
}
