:root {
    --bitcoin-orange: #f7931a;
    --dark-orange: #af6a17;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'DM Sans', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.header {
    align-items: center;
    background: linear-gradient(0, var(--black) 20%, var(--dark-orange) 100%);
    display: flex;
    flex-direction: column;
    height: 349px;
    justify-content: center;
    min-width: 320px;
    position: relative;
    width: 100%;
}

.header__logo {
    height: 24px;
    margin-top: 60px;
    width: 150px;
}

.header__main-container {
    color: var(--just-white);
    height: 288px;
    margin-top: 40px;
    max-width: 900px;
    min-width: 288px;
    text-align: center;
    width: 90%;
}

.header__title {
    color: var(--just-white);
    line-height: 2.6rem;
    font-size: 2.4rem;
    font-weight: bold;
}

.header__subtitle {
    color: var(--bitcoin-orange);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-top: 25px;
}

.header__button {
    background-color: var(--off-white);
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    color: var(--black);
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    height: 48px;
    left: calc(50% - 114.5px);
    margin-top: 35px;
    padding: 15px;
    position: absolute;
    text-decoration: none;
    top: 285px;
    width: 229px;
}

.header__down-arrow {
    background-image: url('./assets/icons/down-arrow.svg');
    display: inline-block;
    height: 8px;
    margin-left: 10px;
    width: 13px;
}

.main {
    background-color: var(--off-white);
    height: auto;
    width: 100%;
}

.exchange {
    height: auto;
    min-width: 320px;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
    width: 100%;
}

.exchange__background {
    background: url('./assets/img/bitcoin.svg') center/cover no-repeat;
    height: 200px;
    margin: 0 auto 50px auto;
    width: 200px;
}

.exchange__main-container {
    margin: 0 auto;
    max-width: 900px;
    min-width: 288px;
    width: 90%;
}

.exchange__title {
    color: var(--black);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    margin-bottom: 30px;
}

.exchange__subtitle {
    color: #757575;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    margin-bottom: 30px;
}

.currency__main-container {
    font-family: 'Inter', sans-serif;
    height: 360px;
    margin: 0 auto;
    max-width: 500px;
    min-width: 235px;
    width: 70%;
}

.currency__title {
    color: var(--bitcoin-orange);
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    margin-bottom: 15px;
}

.currency__title--blue {
    color: var(--secondary-blue);
}

.currency__table-container {
    height: 250px;
    margin: 0 auto;
    max-width: 300px;
    min-width: 230px;
    width: 90%;
}

.currency__table {
    height: 100%;
    width: 100%;
}

.currency__cell {
    background-color: var(--just-white);
    color: var(--grey);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    width: 50%;
}

.currency__cell-top-left {
    border-radius: 15px 0 0 0;
}

.currency__cell-top-right {
    border-radius: 0 15px 0 0;
}

.currency__cell-bottom-left {
    border-radius: 0 0 0 15px;
}

.currency__cell-bottom-right {
    border-radius: 0 0 15px 0;
}

.currency__cell-right {
    color: #757575;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
}

.currency__trending {
    display: inline-block;
    height: 15px;
    margin-left: 10px;
    width: 15px;
}

.currency__trending--down {
    background: url('./assets/icons/trending-down.svg') center/cover no-repeat;
}

.currency__trending--up {
    background: url('./assets/icons/trending-up.svg') center/cover no-repeat;
}

.currency__date-container {
    background-color: var(--soft-orange);
    border-radius: 8px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    width: max-content;
}

.currency__date {
    color: var(--warm-black);
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
}

.currency__date-container--blue {
    background-color: var(--soft-blue);
}

.product-detail {
    background-color: var(--warm-black);
    height: auto;
    min-width: 320px;
    padding: 20px 10px;
    position: relative;
    width: 100%;
}

.product-detail__logo {
    background: url('./assets/icons/batata.svg');
    height: 25px;
    position: absolute;
    left: calc(50% - 20px);
    top: -10px;
    width: 40px;
}

.product-detail__main-container {
    height: auto;
    margin: 50px auto 0;
    min-width: 288px;
    text-align: center;
    width: 90%;
}

.product-detail__title {
    color: var(--just-white);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    margin-bottom: 20px;
}

.product-detail__subtitle {
    color: #808080;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-bottom: 20px;
}

.card__container {
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px (0, 0, 0, 0.16);
    margin: 15px auto;
    max-width: 400px;
    min-width: 288px;
    min-height: 150px;
    padding: 15px;
    width: 90%;
}

.card__icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 20px;
    margin-bottom: 10px;
    width: 20px;
}

.card__icon--clock {
    background-image: url('./assets/icons/clock.svg');
}

.card__icon--eye {
    background-image: url('./assets/icons/eye.svg');
}

.card__icon--dollar-sign {
    background-image: url('./assets/icons/dollar-sign.svg');
}

.card__icon--check-circle {
    background-image: url('./assets/icons/check-circle.svg');
}

.card__title {
    color: var(--just-white);
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    margin-bottom: 15px;
}

.card__body {
    color: #808080;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
}

.meet-it-today {
    background: url('./assets/img/bitcoin-baby-2x.jpg') center/cover no-repeat;
    height: 50vh;
    min-width: 320px;
    width: 100%;
}

.meet-it-today h2 {
    color: var(--just-white);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    padding-top: 60px;
    text-align: center;
}

.plans {
    min-width: 320px;
    padding: 65px 0;
    text-align: center;
    width: 100%;
}

.plans__title-container {
    height: auto;
    margin: 0 auto 50px auto;
    min-width: 288px;
    width: 90%;
}

.plans__title {
    color: var(--black);
    line-height: 2.6rem;
    font-size: 2.4rem;
    font-weight: bold;
}

.plans__subtitle {
    color: #757575;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    padding-top: 30px;
}

.plans__slider {
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plans__slider::-webkit-scrollbar {
    background-color: var(--soft-orange);
    height: 3px;
}
.plans__slider::-webkit-scrollbar-thumb {
    background-color: var(--bitcoin-orange);
}

.plan__card {
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
    height: 250px;
    margin: 50px 5px 0;
    max-width: 300px;
    min-width: 190px;
    padding: 0 15px;
    position: relative;
    scroll-snap-align: center;
    width: 70%;
}

.plan__top-title {
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    height: 31px;
    left: calc(50% - 60px);
    padding: 6px;
    position: absolute;
    top: -15px;
    width: 120px;
}

.plan__top-title--recommended {
    color: var(--just-white);
    background-color: var(--bitcoin-orange);
}

.plan__top-title--basic {
    color: var(--just-white);
    background-color: var(--secondary-blue);
}

.plan__top-title--unlimited {
    color: var(--warm-black);
    background-color: var(--grey);
}

.plan__title {
    color: var(--black);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    padding-top: 30px;
}

.plan__price {
    color: var(--black);
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    padding: 5px 0;
}

.plan__price-sign {
    font-size: 1.2rem;
    font-weight: 300;
    margin-right: 4px;
    vertical-align: 25px;
}

.plan__saving {
    color: #757575;
    font-size: 1.2rem;
}

.plan__card--unlimited {
    background-color: var(--black);
}

.plan__cta {
    background-color: #faf8f7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    color: var(--black);
    font-family: 'DM Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    height: 48px;
    line-height: 1.8rem;
    margin-top: 20px;
    width: 150px;
}

.plan__right-arrow {
    background-image: url('./assets/icons/orange-right-arrow.svg');
    display: inline-block;
    height: 20px;
    vertical-align: text-bottom;
    width: 20px;
}

.plan__card--unlimited .plan__title,
.plan__card--unlimited .plan__price,
.plan__card--unlimited .plan__cta {
    color: var(--just-white);
}

.plan__card--unlimited .plan__cta {
    background-color: var(--black);
}

.footer {
    background-color: var(--bitcoin-orange);
    display: flex;
    height: 150px;
    width: 100%;
}

.footer__section {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50%;
}

.footer__list {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}

.footer__list-item {
    margin: 10px 0;
}

.footer__link {
    color: var(--just-white);
    text-decoration: none;
}
